.dv1{
   
    height:400px;
    width:400px;
    /* background-color: silver; */
    border:2px solid black;
    border-radius:20px 

}
.dv1:hover{
    border:2px solid rgb(231, 148, 70);
    background-color: rgb(179, 255, 0);
}
.dv2:hover{
    border:2px solid rgb(231, 148, 70);
    background-color: rgb(179, 255, 0);
}
.dv6:hover{
    border:2px solid rgb(231, 148, 70);
    background-color: rgb(179, 255, 0);
}
.dv3:hover{
    border:2px solid rgb(231, 148, 70);
    background-color: rgb(179, 255, 0);
}
.dv7:hover{
    border:2px solid rgb(231, 148, 70);
    background-color: rgb(179, 255, 0);
}

.dv2{
z-index:9999;
height:400px;
width:400px;
/* background-color:greenyellow; */
border:2px solid yellow;
border-radius:20px;
display:inline-block;
margin:4px;
}
.dv6{
    z-index:9999;
    height:400px;
    width:400px;
    /* background-color:greenyellow; */
    border:2px solid yellow;
    border-radius:20px;
    display:inline-block;
    margin:4px;
    margin-top: 100px;
    
    }
    .dv7{
        z-index:9999;
        height:400px;
        width:400px;
        /* background-color:greenyellow; */
        border:2px solid yellow;
        border-radius:20px;
        display:inline-block;
        margin:4px;
        }
.dv3{
    position: absolute;
    right: 0px;
    height: 400px;
    width: 400px;
    top: 497px;
    /* background-color: silver; */
    border: 2px solid black;
    border-radius: 20px;

}
.img2{
    z-index: 9999;
    top: 83px;
    height: 245px;
    left: 122px;
}
.p1{
    top: 315px;
    left: 96px;
    color:green;

}
.p2{
    position: absolute;
    top: 248px;
    left: 128px;
    color: #1d00ff;
}
.img3{
    z-index: 9999;
    position: absolute;
    top: 1px;
    height: 245px;
    left: 62px;
    width: 274px;
}
.img5{
    /* position: absolute; */
    margin-left:10px;
    height:107px;


}
.add{
   background-color:yellow;
   border:2px solid orange;
   color:red;
   border-radius:20px
}
.add2{
    background-color: yellow;
    border: 2px solid orange;
    color: red;
    border-radius: 20px;
    position: absolute;
    left: 158px;
    z-index: 9999;
    top: 309px;
 }
 .add3{
    background-color: yellow;
    border: 2px solid orange;
    color: red;
    border-radius: 20px;
    position: absolute;
    left: 158px;
    z-index: 9999;
    top: 309px;
 }
 .dv4{
    position: absolute;
    left: 437px;
    height: 400px;
    width: 400px;
    top: 898px;
    /* background-color: silver; */
    border: 2px solid black;
    border-radius: 20px;

}
.dv5{
    position: absolute;
    right: 0px;
    height: 400px;
    width: 400px;
    top: 898px;
    /* background-color: silver; */
    border: 2px solid black;
    border-radius: 20px;

}
.dv4:hover{
    border:2px solid rgb(231, 148, 70);
    background-color: rgb(179, 255, 0);
}
.dv5:hover{
    border:2px solid rgb(231, 148, 70);
    background-color: rgb(179, 255, 0);
}